// Specific CSS for your home-page
.horizontal-line {
  border-bottom: 1px solid rgb(214, 214, 214);
  margin: 1rem 0;
}

.vertical-line {
  border-right: 1px solid rgb(214, 214, 214);
  margin: 0 1rem;
}

a {
  color: rgb(88, 88, 88);
}

.back-to-top {
  position: fixed;
  bottom: 24px;
  right: 28px;
  color: #1681fba4;
  font-size: 28px;
  display: none;
  visibility: hidden;
  transition: 0.5s;
}

.back-to-top-remove {
  color: rgba(0, 0, 0, 0);
}

.title {
  font-weight: bold;
  font-family: 'Titillium Web', sans-serif;
  width: 75vw;
  text-align: center;
  margin: 0 0 0 12.5vw;
}
