<div class="footer">
  <div class="container all-footer-content">
    <div class="footer-content">
      <h5>My Account</h5>
      <p class="footer-link">Log in or Register</p>
      <p class="footer-link">Messages</p>
      <p class="footer-link">Tasks</p>
      <p class="footer-link">Orders</p>
      <p class="footer-link">My Details</p>
    </div>

    <div class="footer-content">
      <h5>About Us</h5>
      <p class="footer-link">Terms & Privacy</p>
      <p class="footer-link">Help</p>
      <p class="footer-link">Contact Us</p>
      <p class="footer-link">Services</p>
    </div>

    <div class="footer-content">
      <h5>Explore</h5>
      <p class="footer-link">Location</p>
      <p class="footer-link">High Rating</p>
      <p class="footer-link">Profession</p>
      <p class="footer-link">Low price</p>
      <p class="footer-link">High price</p>
    </div>

    <div class="footer-icons">
      <h5 class="follow-us">Follow Us</h5>
      <div class="sm-icons">
        <i class="fab fa-facebook-f sm-icon"></i> |
        <i class="fab fa-twitter sm-icon"></i> |
        <i class="fab fa-instagram sm-icon"></i>
      </div>
    </div>
  </div>
</div>