<% account = ["Log in or Register", "Messages", "Tasks", "Orders", "My Details"] %>
<% about = ["Terms & Privacy", "Help", "Contact Us", "Services"] %>
<% explore = ["Location", "High Rating", "Profession", "Lower Priced", "Higher Priced"] %>

<div class="footer">
  <div class="container all-footer-content">

    <div class="footer-icons">
      <%= image_tag("helperr-black.png", class:"footer-logo") %>

      <p class="follow-us">Helperr aims to resolve unemployement, <br> reward the hard working and <br> help you find the workers you require</p>
      <div class="sm-icons">
        <p>
          <i class="fab fa-facebook-f sm-icon"></i>
          <i class="fab fa-twitter sm-icon"></i>
          <i class="fab fa-instagram sm-icon"></i>
        </p>
      </div>
    </div>

    <div class="wraper">
      <div class="footer-content">
        <h5 class="footer-title">My Account</h5>
        <% account.each do |link| %>
          <p class="footer-link"><%= link %></p>
        <% end %>
      </div>

      <div class="footer-content">
        <h5 class="footer-title">About Us</h5>
        <% about.each do |link| %>
          <p class="footer-link"><%= link %></p>
        <% end %>
      </div>

      <div class="footer-content">
        <h5 class="footer-title">Explore</h5>
        <% explore.each do |link| %>
          <p class="footer-link"><%= link %></p>
        <% end %>
      </div>
    </div>
    </div>

  <div class="d-flex justify-content-around footer-bottom">
    <p><i class="far fa-copyright"></i>  Helperr Company</p>
    <div class="d-flex footer-locations">
      <p class="mr-1 footer-location-text">We help unemployement in</p>
      <p id="changeText" class="changing-location"> Brighton</p>
    </div>
    <p>helperr@support.com</p>
  </div>
</div>
