<nav class="navbar sticky-top navbar-light bg-light navbar-lewagon">
  <div class="container-fluid w-50">
    <div>
      <%= link_to "#", class: "navbar-brand" do %>
        <%= image_tag "helperr-logo-black.png" %>
      <% end %>
    </div>
    
    <div >
      <a class="text-dark mr-4" href="#">Home</a>
      <a class="text-dark mr-4" href="#">Services</a>
      <a class="text-dark mr-4" href="#">About Us</a>
      <button class="btn btn-primary">Become a Helperr</button>
    </div>
  </div>
</nav>