<!-- Navbar content exclusing drop down menu -->
<nav class="navbar navbar-expand-md navbar-container bg-transparent fixed-top">
  <div class="container-fluid justify-content-around">
    <a href="root_path" class="navbar-brand helperr-logo"></a>
    <div class="nav-links">
      <a class="nav-link ml-1 <%= 'blue-link' if current_page?(root_path) %>" href="#">Home</a>
      <a class="nav-link ml-1 <%= 'blue-link' if current_page?(new_user_session_path) %>" href="#">Services</a>
      <a class="nav-link ml-1 <%= 'blue-link' if current_page?(new_user_session_path) %>" href="#">About Us</a>
      <a class="nav-link ml-1 <%= 'blue-link' if current_page?(new_user_session_path) %>" href="#">Sign In <i class="fas fa-sign-in-alt pl-1 mx-auto" style="font-size: 12px"></i></a>
      <a class="btn btn-primary nav-button ml-4" href="#">Become a Helperr</a>
    </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</nav>

<!-- Drop down menu for mobile -->
<div class="collapse fixed-top content-collapsed" id="navbarToggleExternalContent">
  <div class="extended-content  p-4">
    <ul class="collapse navbar-collapse container text-end" id="navbarToggleExternalContent">
      <a class="nav-link" href="#">Home</a>
      <a class="nav-link" href="#">Services</a>
      <a class="nav-link" href="#">About Us</a>
      <a class="btn btn-primary nav-button" href="#">Become a Helperr</a>
    </ul>
  </div>
</div>

<!-- Button for collapse content on mobile -->
<div class="collapse-toggler"></div>