<nav class="navbar navbar-white bg-white navbar-expand-md navbar-container fixed-top border-bottom">
  <div class="container-fluid justify-content-around">
    <%= link_to "root_path", class:"navbar-brand" do %>
      <%= image_tag "helperr-logo-black.png" %>
    <% end %>

    <div class="links">
      <a class="nav-link text-dark ml-1" href="#">Home</a>
      <a class="nav-link text-dark ml-1" href="#">Services</a>
      <a class="nav-link text-dark ml-1" href="#">About Us</a>
      <a class="nav-link text-dark ml-1" href="#">Sign In</a>
      <a class="btn btn-primary nav-item ml-4" href="#">Become a Helperr</a>
    </div>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</nav>

<div class="collapse fixed-top content-collapsed bg-light" id="navbarToggleExternalContent">
  <div class="extended-content navbar-light p-4">
    <ul class="collapse navbar-collapse navbar-nav justify-content-end d-flex" id="navbarToggleExternalContent">
      <a class="nav-link text-dark" href="#">Home</a>
      <a class="nav-link text-dark" href="#">Services</a>
      <a class="nav-link text-dark" href="#">About Us</a>
      <a class="btn btn-primary nav-item" href="#">Become a Helperr</a>
    </ul>
  </div>
</div>

<div class="collapse-toggler"></div>