<div>
  <h2>Our Aim</h2>
  <p>
    Our aim is to help those that are having a hard time finding work, we provide the customers and you provide to skills! Our business is always growing and we aim to have people of all 
    types of work showcasing there skills on our website. Safety is our vertue, we provide a safe and secure place for everyone to find the work they need!
  </p>
</div>

<div class="d-flex flex-column align-items-center company-infomation m-5">
  <div>
    <h2 class="mb-1">Company</h2>
    <p class="mb-0">
      Helperr is a new and thriving business aiming to help people find work and provide others with services. It provides a safe and secure way for customers to pay and offers 
      great customer service.
    </p>

    <p class="mb-0">
      People come to us because we offer a sense of security when you're hiring strangers to do your job's for you, if something isn't to standard then let us know and we'll get in touch
      with the helperr and resolve the issue.
    </p>

    <p class="mb-0">
      We take great pleasure in providing people with the work they need, wheather it's there dream job or just something to pay the bills. If you have the extra time, why not do someones
      shopping or clean their car.
    </p>
  </div>
</div>

<div>
  <h2>Professions</h2>
  <p>A wide range of professions for you to choose from. Skilled professions and basic tasks.</p>
</div>

<%= render 'shared/footer' %>