<div class="home-header">
  <div class="header-content d-flex py-5 px-2">

    <h1 class="header-title">Find the right <strong>Helperr</strong> for the job</h1>
    <h6>Find the best person for the job from hundreds of reliable helperrs</h6>

    <form id="search-bar" class="search-bar form-inline">
      <% if @query.present? %>
        <input name="query" class="header-search" type="search" placeholder="Find a Helperr..." aria-label="Search">
      <% else %>
        <input name="query" class="header-search" type="search" aria-label="Search" placeholder="Find a Helperr...">
      <% end %>
        <button class="btn btn-primary header-submit" type="submit">Search</button>
    </form>

  </div>
</div>


<div class="container">
  <h4 class="home-title">Get started with these featured Helperrs...</h4>
  <div class="professions">
    <% @professions.sample(8).each do |job| %>
      <% unless job.nil? %>
        <%= link_to jobs_path(job), class:"profession" do %>
          <div class="job-photo <%= job.downcase.delete(" ") %>"></div>
          <div class="profession-content">
            <p class="profession-title"><strong><%= job %></strong></p>
            <% if @low_rates.include?(job) %>
              <p class="rates">From <strong class="price">£8.10</strong> to <strong class="price">£43.00</strong> /HOUR</p>
            <% elsif @mid_rates.include?(job) %>
              <p class="rates">From <strong class="price">£12.00</strong> to <strong class="price">£62.00</strong> /HOUR</p>
            <% elsif @high_rates.include?(job) %>
              <p class="rates">From <strong class="price">£13.50</strong> to <strong class="price">£81.00</strong> /HOUR</p>
            <% end %>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>

<div class="about-us"></div>
