<div class="home-header">
  <h1 class="header-title">Find the right helperr for the job</h1>
  <div class="d-flex search-bar">
    <input class="header-search" type="text" placeholder="Find a Helperr...">
    <button class="btn btn-primary header-submit">Search</button>
  </div>
</div>

<h4>Get started with these popular services</h4>

<div class="container">
  <div class="row">
    <div class="col-6 col-12">
      <% @high_rated_users.sample(6).each do |user| %>
        <% unless user.jobs.last.nil? %>
          <div class="jobs-cards">
            <%= link_to job_path(user.jobs.last) do %>
              <%= user.jobs.last.profession %>
              <%= user.jobs.last.rate %>
              <%= user.jobs.last.location %>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
