.about-us {
  background-color: whitesmoke;
  margin: 120px 0;
  text-align: center;
  padding-bottom: 32px;
}

.about-image {
  width: 40px;
  object-fit: cover;
  object-position: top;
  height: 35px;
}

.about-title {
  text-align: left;
  width: 250px;
  margin: 24px auto;
}

.about-content {
  margin: 40px;
}

.about-us-image {
  margin-top: 24px;
  width: 100vw;
  box-shadow: 0 0 10px rgb(255, 255, 255);
}

.steps {
  width: 250px;
  margin: 32px auto;
  padding: 12px 16px;
  border-radius: 8px;

  p {
    margin: 0;
  }
}

.step1, .step3, .step5 {
  margin-left: 10%;
}

.step2, .step4, .step6 {
  margin-right: 10%;
}