.about-us {
  background-color: whitesmoke;
  height: auto;
  margin: 104px 0;
}

.about-us-img-1 {
  height: 300px;
  width: 100%;
  background-image: asset-url("helping.jpg");
  background-position: center;
  background-size: cover;
  box-shadow: 0 0 10px rgba(0,0, 0, 0.3);
}

.about-us-img-2 {
  height: 300px;
  width: 100%;
  background-image: asset-url("delivery.jpg");
  background-position: center;
  background-size: cover;
  box-shadow: 0 0 10px rgba(0,0, 0, 0.3);
}

.about-us-content {
  justify-content: space-around;
  text-align: center;
  margin: 24px 16px;
}

.au-title {
  margin-top: 32px;
}

.au-description {
  margin-top: 40px;
}

.au-btn {
  margin: 24px 0;
}

@media (min-width: 960px) {
  .about-us {
    display: flex;
    text-align: left;
    position: relative;
  }

  .about-us-content {
    text-align: left;
    margin-left: 80px;
    margin-right: 80px;
    width: 220%;
  }

  .about-us-img-1 {
    height: auto;
    margin-left: 80px;
    width: 2300px;
  }

  .about-us-img-2 {
    height: 419px;
    width: 400px;
    position: absolute;
    right: 80px;
    top: 0;
  }

  .au-description {
    width: 385px;
  }
}

@media (min-width: 1400px) {
  .about-us-content {
    height: 419px;
  }

  .about-us-img-1 {
    width: 2700px;
  }

  .about-us-img-2 {
    width: 600px;
  }

  .au-description {
    width: 520px;
  }

  .about-us {
    height: 419px;
  }

  .au-title {
    margin-top: 48px;
  }
}