.featured-card {
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
  border: none !important;
}

.profession-card {
  width: 280px !important;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
  border: none !important;
}

.card-image {
  border-radius: 4px 4px 0 0;
}