.featured {
  display: grid;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  grid-template-rows: 1fr;
  grid-gap: 24px;
  // margin-bottom: 120px;
}

.feature {
  display: flex;
  height: 400px;
  flex-direction: column;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  position: relative;
}

.featured-title {
  margin: 0 24px 24px 24px;
  font-weight: bold;
  font-family: 'Titillium Web', sans-serif;
  font-size: 28px;
  text-align: center;
}

.feature > a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: black;
}

.feature-content {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding: 12px;
  width: 240px;
}

.doj {
  position: absolute;
  top: 8px;
  right: 8px;
  color: rgba(0, 0, 0, 0.3);
}

.featured-img {
  margin-top: 32px;
  justify-content: space-around;
}

.ft-username {
  font-size: 20px;
  font-weight: bold;
  margin-top: -2px;
}

.ft-email {
  font-size: 14px;
  margin-top: -16px;
}

.ft-location {
  background-color: rgba(128, 128, 128, 0.1);
  padding: 4px 16px;
  width: 200px;
  font-weight: bold;
  border-radius: 4px;
}

.ft-rating {
  color: #f9c339;
  justify-content: right;
  margin-top: 8px;
}

.ft-professions {
  border-radius: 4px;
  text-align: left;
  justify-content: space-around;
  margin: -10px 0;
}

.all-ft {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  width: 220px;
  padding-top: 26px;
  height: 110px;
  color: rgb(88, 88, 88);
  font-size: 14px;
}

.ft {
  background-color: #167ffb;
  position: absolute;
  left: 0;
  top: 8px;
  padding: 1px 16px;
  color: white;
  border-radius: 0 4px 4px 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

.ft-rate {
  color: black;
}

.all-featured {
  margin-bottom: 120px;
}

@media (min-width: 375px) {
  .feature-content {
    width: 260px;
  }

  .all-ft {
    width: 236px;
    font-size: 15px;
  }

  .featured-title {
    margin-bottom: 24px;
  }
}

@media (min-width: 1024px) {
  .featured {
    flex-direction: row;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
  }

  .featured-title {
    text-align: left;
    width: 100%;
  }

  .all-featured-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .all-featured {
    display: flex;
    justify-content: center;
    width: 100vw;
  }

  .feature-content {
    width: auto;
  }
}

@media (min-width: 1300px) {
  .featured {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .all-featured-container {
    width: auto;
  }

  .all-featured {
    overflow: hidden;
    height: 472px;
  }
}
