.all-featured {
  width: 100vw;
  height: 800px;
  background-color: #f8f9fa;
  position: relative;
  padding-top: 104px;
}

.featured {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  height: 360px;
  position: relative;
}

// everything inside featured cards
.feature {
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  position: relative;
  margin: 16px 8px;
  height: 352px;

  .feature-content {
    display: flex;
    background-color: white;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 12px;
    width: 240px;
    justify-content: space-around;
    border-radius: 4px;

    .tag {
      background-color: #167ffb;
      position: absolute;
      left: 0;
      top: 8px;
      padding: 1px 16px;
      color: white;
      border-radius: 0 4px 4px 0;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    }

    //date of join
    .doj {
      position: absolute;
      top: 8px;
      right: 8px;
      color: rgba(0, 0, 0, 0.3);
    }

    .feature-img {
      margin-top: 32px;
      height: 75px;
      width: 75px;
      border-radius: 50%;
      object-fit: fill;
    }

    .rating {
      color: #f9c339;
      margin-top: 8px;
    }

    .username {
      font-size: 20px;
      font-weight: bold;
      margin-top: -2px;
    }

    .email {
      font-size: 14px;
      margin-top: -16px;
      width: max-content;
    }

    .location {
      background-color: rgba(128, 128, 128, 0.1);
      padding: 4px 16px;
      width: 200px;
      font-weight: bold;
    }

    .jobs {
      border: 1px solid rgba(0, 0, 0, 0.1);
      border-radius: 4px;
      width: 220px;
      padding-top: 26px;
      height: 110px;
      color: rgb(88, 88, 88);
      font-size: 14px;

      > ul {
        padding: 0;
      }

      .job-title {
        display: flex;
        border-radius: 4px;
        text-align: left;
        justify-content: space-between;
        margin: -10px 24px;

        .rate {
          color: black;
        }

        > p {
          margin: 0 !important;
        }
      }
    }
  }
}

.feature > a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: black;
}

@media (min-width: 960px) {
  .featured {
    flex-direction: row;
    display: flex;
    overflow-y: hidden;
    width: 552px;
  }

  .all-featured {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
  }

  .feature-content {
    width: 80px;
    height: 352px;
  }
}

@media (min-width: 1300px) {
  .featured {
    width: 1022px;
  }
}
