.featured {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.feature {
  display: flex;
  height: 400px;
  flex-direction: column;
  width: 280px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  margin: 32px 20px;
  position: relative;
}

.featured-title {
  margin: 104px 24px 0 24px;
  font-weight: bold;
  font-family: 'Titillium Web', sans-serif;
  font-size: 28px;
  text-align: center;
}

.feature > a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: black;
}

.feature-content {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding: 12px;
}

.doj {
  position: absolute;
  top: 8px;
  right: 8px;
  color: rgba(0, 0, 0, 0.3);
}

.featured-img {
  margin-top: 32px;
  justify-content: space-around;
}

.ft-username {
  font-size: 20px;
  font-weight: bold;
  margin-top: -2px;
}

.ft-email {
  font-size: 14px;
  margin-top: -16px;
}

.ft-location {
  background-color: rgba(128, 128, 128, 0.1);
  padding: 4px 16px;
  width: 200px;
  font-weight: bold;
  border-radius: 4px;
}

.ft-rating {
  color: #f9c339;
  justify-content: right;
  margin-top: 8px;
}

.ft-professions {
  border-radius: 4px;
  text-align: left;
  justify-content: space-around;
  margin: -10px 0;
}

.all-ft {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  width: 260px;
  padding-top: 22px;
  height: 110px;
  color: rgb(88, 88, 88);
}

.ft {
  background-color: #167ffb;
  position: absolute;
  left: 0;
  top: 8px;
  padding: 1px 16px;
  color: white;
  border-radius: 0 4px 4px 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

.ft-rate {
  color: black;
}

@media (min-width: 960px) {
  .featured {
    flex-direction: row;
    margin: 0 24px;
  }

  .featured-title {
    text-align: left;
    margin-left: 120px;
  }
}

@media (min-width: 1300px) {
  .featured {
    margin: 0 480px;
  }

  .featured-title {
    margin-left: 236px;
  }

  .home-title {
    margin-left: 138px;
  }
}

@media (min-width: 2500px) {
  .featured-title {
    margin-left: 560px;
  }
}