.footer {
  margin-top: 160px;
  background-color: rgb(235, 235, 235);
  margin-bottom: -16px;
  padding-top: 40px;
}

.all-footer-content {
  display: flex;
  justify-content: left;
}

.footer-content {
  margin: 40px 80px;
}

.footer-left {
  justify-content: left;
}

.footer-icons {
  margin: 40px 50px;
  display: flex;
  flex-direction: column;
  align-items: left;
}

.sm-icons {
  display: flex;
}

.sm-icon {
  margin-right: 16px;
}

.follow-us {
  margin-top: 24px;
}

.footer-link {
  margin: 4px 0;
}

.footer-bottom {
  border-top: 1px solid rgba(255, 255, 255, 0.6);
  padding: 32px 0 24px 0;
  margin: 24px 40px 0 40px;
  align-items: center;
}

.footer-logo {
  width: 120px;
}

.footer-locations {
  position: relative;
}

.changing-location {
  position: absolute;
  left: 100%;
}