.footer {
  height: 344px;
  margin-top: 160px;
  background-color: rgba(128, 128, 128, 0.5);
  margin-bottom: -16px;
  padding-top: 40px;
}

.all-footer-content {
  display: flex;
  justify-content: left;
}

.footer-content {
  margin: 40px 80px;
}

.footer-left {
  justify-content: left;
}

.footer-icons {
  margin-left: 120px;
  margin-top: 40px;
}

.sm-icon {
  margin: 16px 16px;
}

.follow-us {
  margin-left: 32px;
}

.footer-link {
  margin: 4px 0;
}
