.form-container {
  width: 250px;
  box-shadow: 0 0 24px rgba(0, 0, 0, 0.1);
  padding-top: 40px;
  border-radius: 8px;
  margin-top: 104px;
}

.photo-upload {
  width: 100%;
}

.log-in-button {
  color: black;
  font-weight: bold;
}