.logo-hamburger {
  width: 80px;
}

.ham-burger {
  font-size: 16px;
  color: rgb(66, 66, 66);
}

.hamburger-content {
  display: flex;
  flex-direction: column;
}

.ham-burger-off {
  z-index: 15;
  color: rgba(0, 0, 0, 0.5);
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  height: 100vh;
}

.ham-burger-inactive {
  display: flex;
  position: fixed;
  visibility: visible;
  left: -60%;
  width: 60%;
  height: 100vh;
  z-index: 15;
  background-color: white;
  top: 0;
  overflow: hidden;
  justify-content: left;
  padding: 40px;
}

.ham-burger-active {
  display: flex;
  visibility: visible;
  position: fixed;
  height: 100vh;
  width: 60%;
  left: 0;
  background-color: white;
  z-index: 15;
  top: 0;
}

@media (min-width: 576px) {
  .ham-burger {
    visibility: hidden;
    display: none;
  }
}