.logo-hamburger {
  width: 80px;
}

.hamburger-content {
  display: flex;
  flex-direction: column;
}

.ham-burger-on {
  font-size: 20px;
  margin-top: 2px;
}

.ham-burger-off {
  z-index: 15;
  color: rgba(0, 0, 0, 0.5);
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  height: 100vh;
  padding-top: 20px;
}

.ham-burger-inactive {
  display: flex;
  position: fixed;
  visibility: visible;
  left: -60%;
  width: 60%;
  height: 100vh;
  z-index: 15;
  background-color: white;
  top: 0;
  overflow: hidden;
  justify-content: left;
  padding: 24px;
}

.ham-burger-active {
  display: flex;
  visibility: visible;
  position: fixed;
  height: 100vh;
  width: 60%;
  left: 0;
  background-color: white;
  z-index: 15;
  top: 0;
}

@media (min-width: 576px) {
  .ham-burger-on {
    visibility: hidden;
    display: none;
  }

  .hm-container {
    visibility: hidden;
    display: none;
  }
}