.high-rated-jobs {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: space-around;
  grid-gap: 24px;
  margin-top: 40px;
}

.high-rated-job {
  height: 270px;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.high-rated-content {
  height: 125px;
  text-align: center;
}

.high-rated-location {
  justify-content: space-evenly;
}

.stars {
  font-size: 10px;
  margin-top: 5px;
}