.high-rated-jobs {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: space-around;
  grid-gap: 40px 24px;
  margin-top: 32px;
}

.high-rated-job {
  height: 260px;
  box-shadow: 0 0 10px rgba(128, 128, 128, 0.3);
  border-radius: 4px;
  color: rgb(31, 31, 31);
  position: relative;
  &:hover {
    box-shadow: 0 0 30px rgba(128, 128, 128, 0.4);
    transition-delay: 0.2s;
  }
}

.high-rated-content {
  text-align: center;
}

.high-rated-location {
  justify-content: space-evenly;
  color: grey;
}

.stars {
  font-size: 10px;
  margin-top: 5px;
  color: #f9c339;
}

.home-title {
  margin-top: 80px;
  font-weight: bold;
  font-family: 'Titillium Web', sans-serif;
}

.high-rated-job > a, a:hover, a:focus, a:active {
  text-decoration: none;
}

.hourly-rate {
  color: #167ffb;
  font-family: 'Titillium Web', sans-serif;
}

.profession {
  font-size: 16px;
  margin-bottom: 2px;
}

.high-rated-avatar {
  position: absolute;
  top: 130px; 
  right: 8px;
}

.location-marker {
  color: #167ffb;
}