.home-header {
  background-image: asset-url("jobs.jpg");
  height: 700px;
  width: 97.5%;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  align-items: center;
  margin-left: 1%;
}

.header-search {
  border-radius: 4px 0px 0px 4px;
  border: solid 1px whitesmoke;
  padding: 8px;
  width: 300px;
}

.header-submit {
  border-radius: 0px 4px 4px 0px;
}

.search-bar {
  margin-top: -200px;
}