.information {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
  text-align: center;
}

.info {
  margin: 16px 0;
}

@media (min-width: 960px) {
  .information {
    flex-direction: row;
    background-color: white;
    justify-content: space-around;
    padding: 56px;
  }

  .line {
    width: 90vw;
    margin: 0 auto;
    border-top: 1px solid rgba(0, 0, 0, 0.438);
  }
}