.instructions {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 8px 32px;
}

.instruction {
  transition-duration: .5s;

  &:hover {
    transform: translate(-2px, -4px)
  }
}

.icon {
  height: 32px;
}

.step {
  background-color: rgba(0, 0, 0, 0.116);
  padding: 4px 24px;
  border-radius: 16px;
}

@media (min-width: 540px) {
  .instructions {
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 8px 32px;
  }
}

@media (min-width: 720px) {
  .instructions {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 8px 16px;
  }
}
