.instructions {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 8px 32px;
  background-color: white;
  border-radius: 8px;
}

.instruction {
  transition-duration: .5s;
  padding: 16px 12px 8px 12px;
  border-radius: 4px;

  &:hover {
    transform: translate(0, -8px);
    background-color: dodgerblue;
    color: white;

    .step {
      background-color: rgb(66, 161, 255);
    }
  }
}

.icon {
  height: 38px;
  background-size: 38px;
  background-repeat: no-repeat;
  background-position: center;
}

.step {
  background-color: rgba(0, 0, 0, 0.116);
  padding: 4px 24px;
  border-radius: 16px;
}

@media (min-width: 540px) {
  .instructions {
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 8px 32px;
  }
}

@media (min-width: 992px) {
  .instructions {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 8px 16px;
  }
}
