.job-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 40px;
}

.job-avatar {
  position: absolute;
  top: 95px;
  right: 32px;
  height: 66px;
  width: 66px;
}

.job-cover {
  object-fit: cover;
}

.job-card {
  position: relative;
}