.job-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-around;
  grid-gap: 64px 40px;
  margin-top: 80px;
  margin-bottom: 160px;
}

.job-card {
  height: 360px;
  box-shadow: 0 0 10px rgba(128, 128, 128, 0.15);
  border-radius: 4px;
  color: rgb(31, 31, 31);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 24px 16px;
  &:hover {
    box-shadow: 0 0 30px rgba(128, 128, 128, 0.3);
    transition-delay: 0.1s;
  }
}

.job-card > a, a:hover, a:focus, a:active {
  text-decoration: none;
}

.jobs-page {
  display: flex;
  justify-content: space-evenly;
}

.job-content {
  justify-content: space-between;
  height: 50px;
}

.content-2 {
  flex-direction: column;
  justify-content: space-around;
  border-left: solid 1px #9191b15b;
  height: 70px;
}

.title-price {
  justify-content: space-between;
  width: 400px;
  margin-bottom: -10px;
}

.avatar-card {
  height: 75px;
  width: 75px;
  border-radius: 50%;
}

.index-content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.user-jobs {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.job-card-professions {
  flex-direction: column;
}

.jobs-card-user-location {
  display: flex;
  flex-direction: column;
  margin: 0 0 0 16px;
}

.jobs-card-content {
  margin: 0;
}

.job-profession {
  margin-top: -14px;
}

.location-icon {
  font-size: 12px;
}