.jobs-show {
  background-color:  #282831;
  height: 82.5vh;
  width: 600px;
  border-radius: 4px;
  justify-content: center;
  left: 48%;
  height: 90vh;
  position: sticky;
  top: 5%;
}

.show-card-image {
  height: 50%;
  width: 580px;
  background-size: cover;
  background-position: center;
  border-radius: 4px 4px 0 0;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.452);
}

.job-show {
  flex-direction: column;
}

.placeholder {
  height: 80vh;
  width: 600px;
}

.plumbing {
  background-image: asset-url('plumbing.jpg');
}

.electrical {
  background-image: asset-url('electrical.jpg');
}

.delivery {
  background-image: asset-url('delivery.jpg');
}
