.message-box {
  border: 1px solid lightgrey;
  border-radius: 16px;
  height: 32px;
  width: 90vw;
  background-color: whitesmoke;
}

.message-bar {
  position: fixed;
  height: 80px;
  background-color: white;
  bottom: 0;
  width: 100vw;
  display: flex;
  justify-content: space-around;
  padding: 24px;
}

.message-submit {
  height: 32px;
  border-radius: 16px;
}

.user-chat {
  width: 100vw;
  background-color: white;
  height: 80px;
  padding: 24px;
}
.message-avatar {
  height: 40px;
  border-radius: 50%;
}