.navbar-lewagon {
  justify-content: space-between;
  background: white;
  height: 80px;
  display: flex;
  justify-content: space-around;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 100px;
}

.nav-link {
  color: #242424 !important;
  margin-left: 16px;
  &:hover &:focus {
    font-size: 25px;
  }
}