.navbar-lewagon {
  background: white;
  height: 72px;
  display: flex;
  justify-content: space-between;
  background-color: whitesmoke;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 120px;
  margin-bottom: 2px;
}

.navbar-brand {
  margin: 0;
}

.nav-link {
  color: #242424 !important;
  font-size: 16px;
  padding: 6px 0;
  font-family: 'Titillium Web', sans-serif;
  &:hover &:focus {
    font-size: 25px;
  }
}

.navbar {
  padding: 0 15%;
  border-bottom: 2px solid lightgrey;
  position: fixed;
  width: 100%;
  z-index: 5;
}

.log-in-symbol {
  font-size: 26px;
  margin-top: -2px;
}

@media (min-width: 576px) {
  .log-in-symbol {
    visibility: hidden;
  }

  .navbar-lewagon {
    height: 80px;
    justify-content: space-around;
  }

  .become-btn {
    font-family: "Oxygen", sans-serif;
    font-size: 14px;
  }

  .navbar-lewagon {
    position: static;
  }

  .navbar-nav > .active {
    padding: 0;
  }
}