.navbar-content { 
  height: 72px;
  border-bottom: 2px solid grey;
  padding: 0 10%;
  position: fixed;
  background-color: rgb(255, 255, 255);
  z-index: 10;
  width: 100vw;
  top: 0;
}

.navbar-logo {
  height: 32px;
}

.log-on-icon {
  font-size: 24px;
  color: rgb(88, 88, 88);
}

.navbar-links {
  display: none;
  visibility: hidden;
}

@media (min-width: 720px) {
  .navbar-content {
    padding: 0 15%;
    position: static;
    z-index: 10;
  }

  .navbar-links {
    display: flex;
    visibility: visible;
    .navbar-link {
      font-weight: bold;
    }
  }

  .log-on-icon {
    display: none;
    visibility: hidden;
  }
}

@media (min-width: 960px) {
  .navbar-content {
    padding: 0 20%;
  }
}
