.professions {
  display: grid;
  overflow-y: hidden;
  margin-left: 5vw;
  width: 984px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.professions-title {
  margin-top: 88px;
  text-align: center;
  font-size: 32px;
  color: #167FFB;
}

.professions-subtitle {
  color: rgb(131, 131, 131);
  width: 300px;
  text-align: center;
  margin: 0 auto;
  font-size: 18px;
}

.professions-box {
  width: 80px;
  margin: 18px auto;
  border-bottom: 3px solid #167FFB;
}

.profession {
  margin: 10px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  width: 208px;
  border-radius: 4px;
  background-color: white;
  height: 264px;
  overflow: hidden;

  &:hover {
    .job-photo {
      transform: scale(1.05);
    }
  }
}

.profession-info {
  padding: 24px 12px;
  margin-top: -112px;
  height: 104px;
  z-index: 10;

  .profession-name {
    color: white;
    font-size: 12px;
    margin-bottom: 4px;
    background-color: #167FFB;
    padding: 8px 24px;
    border-radius: 16px;
    width: max-content;
  }

  .price-range {
    font-size: 14px;
    color: white;
    text-shadow: 0 0 20px rgba(0, 0, 0, 1);
    font-family: 'Titillium Web', sans-serif;
  }

  .price {
    color: rgb(255, 255, 255);
    text-shadow: 0 0 20px rgba(0, 0, 0, 1);
  }
}

@media (min-width: 450px) {
  .professions {
    flex-direction: column;
    height: 576px;
    margin-bottom: 16px;
  }

  .profession {
    display: flex;
    width: 85vw;
    margin-left: 2.5vw;
  }

  .profession-info {
    padding: 24px 24px;
  }
}

@media (min-width: 720px) {
  .profession {
    width: 60vw;
    margin-left: 15vw;
  }
}

@media (min-width: 960px) {
  .professions {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 736px;
    margin: 48px auto;
    grid-gap: 32px 24px;
    padding: 8px;
  }

  .profession {
    margin: 0;
    width: 100%;
    flex-direction: column;
  }

  .profession-info {
    padding-left: 26px;
  }
}

@media (min-width: 1240px) {
  .professions {
    grid-template-columns: 1fr 1fr 1fr;
    width: 984px;
  }
}