.profession-image {
  height: 200px;
  width: 280px;
}

.arrows {
  color: black;
}

.carousel-indicators {
  bottom: -56px;
}

.carousel-control-prev {
  left: -104px;
}

.carousel-control-next {
  right: -104px;
}

.carousel {
  margin-top: 104px;
  margin-bottom: 104px;
}