.professions {
  display: flex;
  overflow-y: hidden;
  width: 90vw;
  margin-left: 5vw;
}

.profession {
  margin: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 208px;
  border-radius: 4px;
}

.profession-info {
  padding: 30px 12px;
  margin-top: -8px;
  height: 104px;
  
  .profession-name {
    color: black;
    font-size: 18px;
    margin-bottom: 4px;
  }
  
  .price-range {
    font-size: 14px;
    color: rgba(128,128,128,0.514);
    font-family: 'Titillium Web', sans-serif;
  }

  .price {
    color: rgb(53, 53, 53);
  }
}

@media (min-width: 450px) {
  .professions {
    flex-direction: column;
    height: 496px;
    margin-bottom: 16px;
  }

  .profession {
    display: flex;
    width: 85vw;
    margin-left: 2.5vw;
  }

  .profession-info {
    padding: 40px 24px;
  }
}

@media (min-width: 720px) {
  .profession {
    width: 60vw;
    margin-left: 15vw;
  }
}

@media (min-width: 960px) {
  .professions {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 568px;
    width: 736px;
    margin: auto;
    grid-gap: 32px 24px;
    padding: 8px;
  }

  .profession {
    margin: 0;
    width: 100%;
    flex-direction: column;
  }

  .profession-info {
    padding-left: 16px;
  }

  .profession-title {
    text-align: left;
    margin: auto;
    width: 720px;
  }
}

@media (min-width: 1240px) {
  .professions {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 984px;
  }

  .profession-title {
    width: 956px;
  }
}