.job-photo {
  background-position: center;
  background-size: cover;
  height: 264px;
  margin-bottom: 8px;
  border-radius: 4px;
  transition: 0.5s;
}

.plumbing {
  background-image: asset-url('plumbing.jpg');
}

.electrical {
  background-image: asset-url('electrical.jpg');
}

.moving {
  background-image: asset-url('moving.jpg');
}

.shopping {
  background-image: asset-url('shopping.jpg');
}

.carpentry {
  background-image: asset-url('carpentry.jpg');
}

.cleaning {
  background-image: asset-url('cleaning.jpg');
}

.painting {
  background-image: asset-url('painting.jpg');
}

.generalhelper {
  background-image: asset-url('generalhelper.jpg');
}

.cooking {
  background-image: asset-url('cooking.jpg');
}

.landscaping {
  background-image: asset-url('landscaping.jpg');
}

.gardeningandremoval {
  background-image: asset-url('gardeningandremoval.jpg');
}

.computertechnician {
  background-image: asset-url('computertechnician.jpg');
}

.carmechanic {
  background-image: asset-url('carmechanic.jpg');
}

.sewing {
  background-image: asset-url('sewing.jpg');
}

.furnituremaking {
  background-image: asset-url('furnituremaking.jpg');
}

.groundworks {
  background-image: asset-url('groundworks.jpg');
}

.barber {
  background-image: asset-url('barber.jpg');
}
