.search {
  height: 360px;
  position: relative;
}

.search-image {
  width: 100%;
  object-fit: cover;
  object-position: center;
  margin-top: 64px;
}

.search-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  background-color: white;
  padding: 24px;
  border-radius: 4px;
  height: 220px;
  width: 85vw;
  top: 240px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  
  .search-infomation {
    text-align: center;
    width: 244px;
  }
}

.search-bar {
  display: flex;
  margin: 16px 0;
  width: 100%;

  .search-icon {
    display: flex;
    align-items: center;
    background-color: white;
    border: 1px solid rgb(180, 180, 180);
    border-right: none;
    border-radius: 4px 0 0 4px;
    padding: 8px;
  }
  
  .search-input {
    width: 100%;
    border: 1px solid rgb(180, 180, 180);
    padding: 0 8px;
    border-right: none;
    border-left: none;
  }
  
  .search-submit {
    border-radius: 0 4px 4px 0;
  }
}

@media (min-width: 450px) {
  .search-box {
    top: 26%;
    right: 10%;
    width: 280px;
    height: 280px;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 0 10px rgba(253, 253, 253, 0.8);
  }

  .search {
    overflow: hidden;
    height: 440px;
  }

  .search-image {
    margin: 0;
  }
}

@media (min-width: 720px) {
  .search-box {
    right: 12%;
  }
}

@media (min-width: 960px) {
  .search-box {
    top: 29%;
    right: 16%;
    width: 296px;
    height: 304px;
  }

  .search {
    height: 560px;
  }
}

@media (min-width: 1400px) {
  .search-box {
    width: 400px;
    height: 360px;
  }

  .search {
    height: 704px;
  }

  .search-bar {
    width: 80%;
  }
}