.search-container {
  margin-top: -80px;
}

.search { 
  width: max-content;
  padding: 40px;
}

.search-bar {
  height: 80px;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 20px 40px;
  border-radius: 4px;
}