.search {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 120px;
}

.search-image {
  width: 100%;
  object-fit: cover;
  object-position: center;
  margin-top: 70px;
}

.search-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: whitesmoke;
  padding: 24px;
  height: 220px;
  width: 100vw;
  box-shadow: 1px 0 10px rgba(0, 0, 0, 0.15);
  
  .search-infomation {
    text-align: center;
    width: 244px;
  }
}

.filter-bar {
  display: none;
  visibility: hidden;
}

.filter-dropdown {
  text-align: center;
  margin-top: 24px;
}

.search-bar {
  display: flex;
  margin: auto;
  width: 100%;

  .search-icon {
    display: flex;
    align-items: center;
    background-color: white;
    border: 1px solid rgb(180, 180, 180);
    border-right: none;
    border-radius: 4px 0 0 4px;
    padding: 8px;
  }
  
  .search-input {
    width: 100%;
    border: 1px solid rgb(180, 180, 180);
    padding: 0 8px;
    border-right: none;
    border-left: none;
  }
  
  .search-submit {
    border-radius: 0 4px 4px 0;
  }
}

.index-search {
  padding: 24px;
  margin-top: -120px;
  background-color: whitesmoke;
  position: relative;
  box-shadow: 1px 0 10px rgba(0, 0, 0, 0.15);

  .search-bar {
    width: 80vw;
    margin-top: 40px;
  }

  .index-title {
    padding: 12px 32px;
    font-size: 20px;
    color: white;
    background-color: rgba(0, 0, 0, 0.8);
    margin: -72px 14px 24px -12px;
    border-radius: 4px 4px 0 0;
    height: 48px;
    width: 270px;
  }
}

@media (min-width: 450px) {
  .search-box {
    position: absolute;
    top: 26%;
    right: 10%;
    width: 280px;
    height: 280px;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 0 10px rgba(253, 253, 253, 0.8);
    border-radius: 4px;
  }

  .search {
    overflow: hidden;
    height: 440px;
  }

  .filter-bar {
    display: flex;
    visibility: visible;
    justify-content: space-around;
    margin: 16px auto;
    background-color: whitesmoke;
    border: 1px solid grey;
    border-radius: 4px;
    width: 80vw;
    padding: 8px;
  
    p {
      margin: 0;
    }
  }

  .filter-dropdown {
    visibility: hidden;
    display: none;
  }

  .index-search {
    .index-title {
      margin-left: 8vw;
      width: 312px;
      font-size: 24px;
    }
  } 
}

@media (min-width: 720px) {
  .search-box {
    top: 18%;
    right: 12%;
  }

  .search-image {
    margin: 0;
  }
}

@media (min-width: 960px) {
  .search-box {
    top: 20%;
    right: 16%;
    width: 320px;
    height: 344px;
    padding: 48px;
  }

  .search {
    height: 560px;
    margin-bottom: 200px;
  }

  .index-search {
    margin-top: -200px;
  }
}

@media (min-width: 1400px) {
  .search-box {
    top: 18%;
    width: 400px;
    height: 360px;
  }

  .search-bar {
    width: 80%;
  }
}