#seeAllBtn {
  visibility: hidden;
}

.extend-all {
  width: 100vw;
}

.see-all-active {
  height: auto !important;
}

@media (min-width: 450px) {
  #seeAllBtn {
    visibility: visible;
    background-color: whitesmoke;
    padding: 8px;
    width: 40px;
    border-radius: 4px;
    margin: 24px 0 0 0;
    &:hover {
      background-color: rgb(210, 210, 210);
      transition: 0.1s;
    }
  }

  .reverse {
    transform: rotate(180deg);
  }

  .rotate {
    visibility: hidden;
  }
}