// 1. professions content
#seeAllBtn1 {
  // invisiible because professions is a swipe right function on mobile 
  visibility: hidden;
  display: none;
}

.extend-all-professions {
  height: 0;
  margin-top: 16px;
}

// 2. featured content
#seeAllBtn2 {
  margin: 8px;

  &:hover {
    transition: 0.1s;
  }
}

#seeAllBtn4, #seeAllBtn5 {
  // invisible as these are left and right buttons for laptop and bigger for featured users
  visibility: hidden;
  height: 0;
  margin: 0;
}

// 3. professions and featured content
.see-all-active {
  height: auto;
  overflow: hidden;
}

.chevron {
  padding: 8px 12px;
  color: rgb(77, 77, 77);

  &:hover {
    color: #167ffb;
  }
}

.reverse {
  // turns chevron around after being clicked on.
  transform: rotate(180deg) !important;
}

.rotate {
  visibility: hidden;
}

@media (min-width: 450px) {
  //professions content
  #seeAllBtn1 {
    visibility: visible;

    &:hover {
      transition: 0.1s;
    }
  }

  // professions and featured content
  .extend-all-professions {
    height: auto;
  }
}

@media (min-width: 960px) {
  // professions content
  #seeAllBtn2 {
    visibility: hidden;
    display: none;
  }

  // featured content
  .relative-left-right {
    position: relative;
  }

  .buttons-left-right {
    width: 104px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 89%;
  }

  #seeAllBtn4, #seeAllBtn5 {
    height: auto;
    visibility: visible;
  }

  #seeAllBtn4 {
    left: 904px;
    transform: rotate(90deg);
  }

  #seeAllBtn5 {
    right: 904px;
    transform: rotate(270deg);
  }

  .left-right {
    display: flex;
    // puts the featured users to the first one from left to right, then javascript minus' from the margin when the button is clicked.
  }

  .extend-all-featured {
    height: 0;
  }
}