.socials-bar {
  top: -32px;
  width: 1088px;
  height: 168px;
  display: flex;
  background-color: white;
  border-radius: 4px;
  justify-content: space-around;
  position: absolute;
  z-index: 10;
}

.social {
  height: 166px;
  width: 244px;
  padding: 23px;
  border-radius: 4px;
  text-align: center;
  align-items: center;
  transition: margin-top 0.5s;
  display: flex;
  flex-direction: column;
  font-size: 14px;

  &:hover {
    background-color: #167ffb;
    color: white;
    box-shadow: 0 4px 10px #1681fb81;
    margin-top: -8px;
    height: 166px;

    .find {
      background-image: asset-url('findwhite');
    }

    .contact {
      background-image: asset-url('contactwhite');
    }

    .timedate {
      background-image: asset-url('timedatewhite');
    }

    .agree {
      background-image: asset-url('agreewhite');
    }

    .wait {
      background-image: asset-url('waitwhite');
    }

    .pay {
      background-image: asset-url('paywhite');
    }

    .instructions {
      background-color: #4a9bf8;
    }
  }
}

.social-images {
  background-size: cover;
  height: 50px;
  width: 40px;
}

.instructions {
  border-radius: 32px;
  background-color: #e9ecef;
  padding: 3px 16px;
  font-size: 14px;
  margin-top: 6px;
}

.find {
  background-image: asset-url('findblue');
}

.contact {
  background-image: asset-url('contactblue');
}

.timedate {
  background-image: asset-url('timedateblue');
}

.agree {
  background-image: asset-url('agreeblue');
}

.wait {
  background-image: asset-url('waitblue');
}

.pay {
  background-image: asset-url('payblue');
}